body {
    margin: 0px;
    background-image: url('https://agrilifecdn.tamu.edu/harris4h/files/2018/06/Webpage-under-construction.jpeg');
    background-repeat: no-repeat;
    background-position: 100px 20px;
}
