body{
    margin: 0px;
    background-color: rgb(155, 212, 235);
}
.body-content{
    text-align: center;
    background-color: rgb(240, 240, 232);
    margin: 50px 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}